:root[class*="dark"] {
  --background: 240 10% 3.9%;
  --foreground: 0 0% 98%;

  --card: 240 10% 3.9%;
  --card-foreground: 0 0% 98%;

  --popover: 240 10% 3.9%;
  --popover-foreground: 0 0% 98%;

  --primary: 0 0% 98%;
  --primary-foreground: 240 5.9% 10%;

  --secondary: 240 3.7% 15.9%;
  --secondary-foreground: 0 0% 98%;

  --muted: 240 3.7% 15.9%;
  --muted-foreground: 240 5% 64.9%;

  --accent: 240 3.7% 15.9%;
  --accent-foreground: 0 0% 98%;

  --destructive: 4, 90%, 58%;
  --destructive-foreground: 0, 67%, 87%;
  --destructive-surface: 0, 33%, 8%;
  --destructive-border: 0, 69%, 67%;

  --success: 123, 38%, 57%;
  --success-foreground: 122, 38%, 85%;
  --success-surface: 129, 23%, 8%;
  --success-border: 123, 38%, 64%;

  --warning: 36, 100%, 57%;
  --warning-foreground: 36, 100%, 86%;
  --warning-surface: 37, 56%, 8%;
  --warning-border: 36, 100%, 65%;

  --info: 199, 92%, 56%;
  --info-foreground: 198, 89%, 85%;
  --info-surface: 198, 55%, 8%;
  --info-border: 199, 91%, 64%;

  --border: 240 3.7% 15.9%;
  --input: 240 3.7% 15.9%;
  --ring: 240 4.9% 83.9%;
}
